* {
    box-sizing: border-box;
}

header,
footer {
    height: 100px;
    border: 3px solid black;
    clear: both;
}

section {
    height: 180px;
    width: 33.3333%;
    border: 3px solid black;
    float: left;
}

.secSection {
    height: 220px;
    width: 50%;
    border: 3px solid black;
    float: left;
}
