/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES + LAYOUT
/*******************************************/
html {
  font-size: 62.5%; /*62.5% * 16px = 10px*/
}

body {
  font-family: "IM Fell English", "Rosarivo", sans-serif;
  background-color: black;
  /*background-image: url('../img/shenronplaymat.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;*/ /* makes sure it fills screen */
}

.uncial {
  font-family: "Uncial Antiqua", "MedievalSharp", sans-serif;
}

.medieval {
  font-family: "MedievalSharp", "Uncial Antiqua", sans-serif;
}

.reg-font {
  font-family: "Rosarivo","IM Fell English", sans-serif;
  font-weight: normal;
  font-size: 1.8rem; /*16.5px*/
}

/******************************************
/* SEARCH BOX
/*******************************************/
#search-box {
  margin: 2rem 0 0 2rem;
  border: 0.2rem solid red;
  border-radius: 1rem;
  width: 30%;
  height: 20rem;
  background: rgb(244, 187, 68);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.bar {
  font-size: 1.6rem;
}

.src-btn {
  font-size: 1.6rem;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.text-content {
  padding-bottom: 2rem;
}

.text-content p {
  font-size: 1.6rem;
}

.title {
  font-size: 3.2rem;
}

/**************************************************************
/* MAIN
/**************************************************************/
#spell-bio {
  margin-top: 8rem;
}

/******************************************
/* NAME & PICTURE
/*******************************************/
.spell-name {
  font-size: 2.4rem;
  margin: 2rem 0 0 2rem;
  margin: 3rem auto;
  text-align: center;
  border: 0.2rem solid red;
  border-radius: 1rem;
  width: 30%;
  background: rgb(244, 187, 68);
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.spell-pic {
  margin: 3rem auto;
  width: 30%;
  display: block;
}

/******************************************
/* CHARACTER NOT FOUND
/*******************************************/
#spellNotFound {
  font-size: 2.08rem;
  margin-left: 2rem;
  padding: 0.7rem;
  text-align: center;
  border: 0.2rem solid red;
  border-radius: 1rem;
  width: 30%;
  height: auto;
  min-height: auto;
  background: rgb(244, 187, 68);
  display: none;
  font-weight: bold;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

  /* essential to keep text inside the box */
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: break-word;
}

/******************************************
/* KEY FACTS
/*******************************************/
.key-facts {
  margin: 3rem auto;
  margin-top: 5rem;
  border: 0.2rem solid red;
  border-radius: 1rem;
  width: 70%;
  height: auto;
  min-height: auto;
  background: rgb(244, 187, 68);
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.key-facts .text {
  flex: 1;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*height: 100%;*/
}

.text {
  padding-left: 0;
}

.text h2 {
  font-size: 2.4rem;
}

.components, .damage-heal-slot, 
.class-list, .subclass-list,
.descript-slot, .high-level-descript-slot {
  font-size: 1.6rem;
  margin-top: 0;
  display: none;
}

/******************************************
/* FOOTER
/*******************************************/
footer {
  margin-top: 9%;
}

#footer-img {
  margin-top: 7rem;
  width: 80%;
  display: block;
  margin: 0 auto;
}

/******************************************************************
/* MEDIA QUERIES
/******************************************************************/
/******************************************
/* PHONES
/*******************************************/
/* Phones (480px and below) */
@media screen and (max-width: 480px) and (orientation: portrait) {
  body {
    background-image: url('../img/shenron&dragonball.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
  }
  
  #search-box {
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
  }

  #spellNotFound {
    width: 90%;
    margin: 1rem auto;
  }

  .key-facts {
    flex-direction: column;
    width: 90%;
    min-height: auto;
    height: auto;
  }

  .key-facts .text {
    width: 90%;
    padding: 0 0 0 2rem;
    flex: 1;
    justify-content: space-evenly;
  }

  .char-name {
    margin: 2rem 0 0 2rem;
    margin: 3rem auto;
    width: 65%;
  }

  .char-pic {
    width: 80%;
  }
}

/* landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
  body {
    background-image: url('../img/shenron&ball.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
  }

  #search-box {
    margin: 0 auto;
    margin-top: 2rem;
    width: 60%;
  }

  #spellNotFound {
    width: 60%;
    margin: 1rem auto;
  }

  .key-facts {
    flex-direction: column;
    width: 90%;
    min-height: auto;
    height: auto;
  }

  .key-facts .text {
    width: 90%;
    padding: 0 0 0 4rem;
    flex: 1;
    justify-content: space-evenly;
  }

  .char-name {
    margin: 2rem 0 0 2rem;
    margin: 30px auto;
    width: 40%;
  }

  .char-pic {
    width: 50%;
  }  
}

/******************************************
/* SMALLER PHONES & SMALL TABLETS
/*******************************************/
/* Phones (481px and 699) */
@media screen and (max-width: 481px) and (max-width: 699px) and (orientation: portrait) {
  body {
    background-image: url('../img/shenron&dragonball.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
  }
  
  #search-box {
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
  }

  #spellNotFound {
    width: 90%;
    margin: 1rem auto;
  }

  .key-facts {
    flex-direction: column;
    width: 90%;
    min-height: auto;
    height: auto;
  }

  .key-facts .text {
    width: 90%;
    padding: 0 0 0 4rem;
    flex: 1;
    justify-content: space-evenly;
  }

  .char-name {
    margin: 20rem 0 0 20rem;
    margin: 30rem auto;
    width: 60%;
  }

  .char-pic {
    width: 80%;
  }
}

/******************************************
/* MINI TABLETS
/*******************************************/
/* ipad/mini type tablets (min-width: 700px) and (max-width: 850px) */
@media screen and (min-width: 700px) and (max-width: 850px) and (orientation: portrait) {
  body {
    background-image: url('../img/shenron&ball.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
  }
  
  #search-box {
    margin: 0 auto;
    margin-top: 20px;
    width: 58%;
  }

  #spellNotFound {
    width: 58%;
    margin: 10px auto;
  }
  
  .char-name {
    margin: 20px 0 0 20px;
    margin: 30px auto;
    width: 40%;
  }

  .key-facts {
    flex-direction: column;
    width: 90%;
    min-height: auto;
    height: auto;
  }

  .key-facts .text {
    padding: 0 40px 0 40px;
    flex: 1;
  }

  .char-pic {
    width: 45%;
  }

  #footer-img {
    width: 85%;
  }
}

/* Covers iPads 9.7", 10.2", some Minis */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    background-image: url('../img/shenron&ball.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
  }

  #search-box {
    margin: 20px 0 0 20px;
    margin-top: 20px;
    width: 45%;
  }

  #spellNotFound {
    width: 45%;
    margin-left: 20px;
  }

  .key-facts {
    flex-direction: column;
    width: 90%;
    min-height: auto;
    height: auto;
  }

  .key-facts .text {
    width: 90%;
    padding: 0 0 0 40px;
    flex: 1;
    justify-content: space-evenly;
  }

  .char-name {
    margin: 20px 0 0 20px;
    margin: 30px auto;
    width: 30%;
  }

  .char-pic {
    width: 50%;
  }  
}

/******************************************
/* NEWER TABLETS
/*******************************************/
/* Tablets (min-width: 851px and max-width: 1024px) */
@media screen and (min-width: 851px) and (max-width: 1024px) and (orientation: portrait) {
  body {
    background-image: url('../img/shenronplaymat.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
  }
  
  #search-box {
    margin-top: 20px;
    width: 45%;
  }

  #spellNotFound {
    width: 45%;
    margin-left: 20px;
  }

  .char-name {
    margin: 20px 0 0 20px;
    margin: 30px auto;
    width: 30%;
  }

  .key-facts {
    flex-direction: row;
    width: 90%;
    min-height: auto;
    height: auto;
  }

  .key-facts .text {
    padding: 0 40px 0 40px;
  }

  .char-pic {
    width: 50%;
  }
}


/* Newer iPads Air & iPad Pro 11" */
@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
  body {
    background-image: url('../img/shenronplaymat.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
  }
  
  #search-box {
    margin: 20px 0 0 20px;
    margin-top: 20px;
    width: 35%;
  }

  #spellNotFound {
    width: 35%;
    margin-left: 20px;
  }

  .key-facts {
    flex-direction: column;
    width: 90%;
    min-height: auto;
    height: auto;
  }

  .key-facts .text {
    width: 90%;
    padding: 0 0 0 60px;
    flex: 1;
    justify-content: space-evenly;
  }

  .char-name {
    margin: 20px 0 0 20px;
    margin: 30px auto;
    width: 25%;
  }

  .char-pic {
    width: 45%;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/